[Desktop Entry]
Type=Application
Name=System Information
Comment=System information and benchmark tool
Exec=sysinfo-gtk
Icon=se.danielnylander.sysinfo-gtk
Terminal=false
Categories=System;
